.logo-wrapper {
    font-family: "ComfortaaRegular","sans-serif" !important;
    text-transform: lowercase;
    font-size: 28pt;
}

.logo {
    display: block;
    width: 155px;
    height: 45px;
    margin: 0;
    background: url('../img/fedora-logo.png');
    background-repeat: no-repeat;
    /* This is hilarious. */
    text-indent: -9999px;
}

#details-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
    padding-top: 0px;
    margin-top: -10px;
    z-index: 100;
    border-radius: 5px;
}

.hero-unit {
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
}

#mainvis {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.icon {
    width: 48px;
    height: 48px;
}

#mainvis .icon {
    width: 22px;
    height: 22px;
}

/* Sticky footer */
html,
body {
  height: 100%;
}

.max-width {
  min-width: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

#footer {
  height: 40px;
  text-align: center;
}

#footer {
    padding: 10px;
}
