.logo {
    display: block;
    width: 155px;
    height: 45px;
    margin: 0;
    background: url('../img/fedora-logo.png');
    background-repeat: no-repeat;
    /* This is hilarious. */
    text-indent: -9999px;
}

.hero-unit {
    height: 500px;
    margin-top: -90px;
    margin-bottom: -10px;
    padding: 5px;
}

#mainvis {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
