circle {
  fill: #9269B0;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 0px;
  cursor: pointer;
}

.leaf circle {
  fill: rgba(255,255,255,1);
  fill-opacity: 1;
}

circle:hover {
  stroke-width: 1.5px;
  stroke: #000;
}

text {
  font-size: 18px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  text-anchor: middle;
  pointer-events: none;
}