circle {
  fill: #3C6EB4;
  fill-opacity: .5;
  stroke: #000;
  stroke-width: 0px;
  cursor: pointer;
}

.leaf circle {
  fill: rgba(255,255,255,0.6);
  fill-opacity: 1;
}

circle:hover {
  stroke-width: 1.5px;
}

text {
  font-size: 18px;
  font-family: 'lato',sans-serif;
  font-weight: 900;
  text-anchor: middle;
}